<%- include('../../fragments/header.ejs') %>

<main>
    <script type="application/javascript" src="../../../js/validationCommon.js"></script>
    <script type="application/javascript" src="../../../js/validationEncounterForm.js"></script>
    <h2><%= pageTitle %></h2>

    <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm();">

        <!--HIDDEN ID ELEMENT-->
        <input type="hidden" name="id" value="<%= enc.id %>">


        <!--CAR REGISTRATION-->
        <label for="Car_registration">Nr. rej.:<abbr title="required" aria-label="required">*</abbr></label>
        <select id="Car_registration" name="Car_registration" required <%= (formMode === 'showDetails' || formMode === 'edit') ? 'disabled' : '' %>
                class="<%= validationErrors.find(e => e.path.includes('Car_registration')) ? 'error-input' : '' %>"
        >
            <option value="" selected disabled>--- Wybierz pojazd ---</option>
            <% for (let i = 0; i < allVehs.length; i++) { let veh = allVehs[i]; %>
            <option value="<%= veh.registration %>" label="<%= veh.registration %>"
                <%= (veh.registration.toString() === enc.Car_registration.toString()) ? 'selected' : ''%>  ></option>
            <% } %>
        </select>
        <span id="errorRegistration" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Car_registration'))) { %>
                <%= validationErrors.find(e => e.path.includes('Car_registration')).message %>
            <% } %>
        </span>


        <!--CAMERA ID-->
        <label for="Camera_id">Kamera:<abbr title="required" aria-label="required">*</abbr></label>
        <select id="Camera_id" name="Camera_id" required <%= (formMode === 'showDetails' || formMode === 'edit' ) ? 'disabled' : '' %>
                class="<%= validationErrors.find(e => e.path.includes('Camera_id')) ? 'error-input' : '' %>"
        >
            <option value="" selected disabled>--- Wybierz kamerę ---</option>
            <% for (let i = 0; i < allCams.length; i++) { let cam = allCams[i]; %>
            <option value="<%= cam.id %>" label="<%= 'ID: ' + cam.id + ' ALIAS: ' + cam.alias %>"
                    <%= (cam.id.toString() === enc.Camera_id.toString()) ? 'selected' : ''%> <%= (formMode === 'createNew') ? '' : 'disabled'%> ></option>
            <% } %>
        </select>
        <span id="errorCamera" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Camera_id'))) { %>
                <%= validationErrors.find(e => e.path.includes('Camera_id')).message %>
            <% } %>
        </span>


        <!--TIME-->
        <label for="time">Czas:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="time" id="time" value="<%= (formMode === 'createNew') ? ((enc.time !== null) ? enc.time : '') : enc.time.toISOString().split('T')[0] + ' ' +  enc.time.toISOString().split('T')[1].substring(0,8)%>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('time')) ? 'error-input' : '' %>"
        />
        <span id="errorTime" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('time'))) { %>
                <%= validationErrors.find(e => e.path.includes('time')).message %>
            <% } %>
        </span>

        <!--AUTHORIZED-->

        <label for="authorized">Autoryzowano<abbr title="required" aria-label="required">*</abbr></label>
        <select id="authorized" name="authorized" <%= (formMode === 'showDetails') ? 'disabled' : '' %> >
            <option value="1"  <%= (enc.authorized.toString() === '1') ? 'selected' : ''%> >tak</option>
            <option value="0" <%= (enc.authorized.toString() === '0') ? 'selected' : ''%> >nie</option>
        </select>
        <span id="errorAuthorized" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('authorized'))) { %>
                <%= validationErrors.find(e => e.path.includes('authorized')).message %>
            <% } %>
        </span>


        <!--DIRECTION-->
        <label for="direction">Kierunek<abbr title="required" aria-label="required">*</abbr></label>
        <select id="direction" name="direction" <%= (formMode === 'showDetails') ? 'disabled' : '' %> >
            <option value="1"  <%= (enc.direction.toString() === '1') ? 'selected' : ''%> >przodem</option>
            <option value="0" <%= (enc.direction.toString() === '0') ? 'selected' : ''%> >tyłem</option>
        </select>
        <span id="errorDirection" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('direction'))) { %>
                <%= validationErrors.find(e => e.path.includes('direction')).message %>
            <% } %>
        </span>


        <!--FORM BUTTONS-->
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
                <a class="form-button-cancel" href="/encounter">Anuluj</a>
            <% } else { %>
                <a href="/encounter/edit/<%= enc.id %>" class="button-edit form-button-edit">Edytuj</a>
                <a class="form-button-cancel" href="/encounter">Powrót</a>
            <% } %>
        </div>
    </form>
</main>

<%- include('../../fragments/footer.ejs') %>